.dropbtn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.dropbtn:hover {
  color: rgb(235, 231, 39);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Add this CSS to your Myprofile.css file */
.navbar-nav {
  width: 100%;
  justify-content: center;
}

.dropdown-content {
  text-align: start !important;

}

#bg-img {
  background-image: url('baneer\ img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  border: 0px solid white;

}


.hover i:hover{
  color: rgb(238, 178, 49);
}

.hover i{
  font-size: 20px;
 
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 10s forwards infinite;
}

@keyframes typing {
  0% {
    width: 0
  }

  50% {
    width: 70%
  }

  100% {
    width: 0;
  }
}

@media (max-width: 480px) {
  .btnfree{
    font-size: 7px;
  }
}

.btnfree{
  color: white;
  background-color: rgba(255, 255, 255, 0);

}

.font{
  font-size: 15px;
  font: bold;
}

body {
  margin: 2em;
}

p {
  margin: 2em 0 1em;
}

.hr {
  border-top: 1px dashed #000;
}

.trm-divider{
  height: 1px;
  border-bottom: dotted 1px rgb(6, 6, 3);
  width: 100%;
}

.trm-mt-40{
  margin-top: 15px;
}
.trm-mb-40{
margin-bottom: 40px;}

.border02 {
  height: 1px;
  background-image: linear-gradient(90deg, #000, #000 75%, transparent 75%, transparent 100%);
  background-size: 20px 1px;
  border: none;
}

.border03 {
  height: 4px;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
  background-size: 20px 3px, 100% 3px;
  border: none;
}

.zoomin {
 
  overflow: hidden;
  margin: 0 auto;
}

.zoomin img {
  transition: 0.5s all ease-in-out;
}

.zoomin:hover img {
  transform: scale(1.1);
}



